.login-main 
    width: 375px
    margin: auto
    height: 812px
    
    .login-form 
      height: 20rem
      justify-content: center
      background: #FEFEFE
      margin: 20rem auto 0 auto
      width: 80%;
      // clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%)
      box-shadow: 10px 10px 5px rgb(110, 110, 110);

    .user-image 
      border-radius: 50%

      h2
        color: blue
        padding-top: 3rem;

    .email-input 
      height: 5rem
      border: none
      