@charset "UTF-8";
.login-main {
  width: 375px;
  margin: auto;
}

.login-main .app-header-container {
  text-align: center;
}

.login-main .app-title {
  margin: 0 auto;
  color: black;
  font-size: 3rem;
}

.login-main .app-logo {
  -webkit-animation: 🎥 100s linear infinite;
          animation: 🎥 100s linear infinite;
  background: center/cover url("./Assets/film.png");
  -webkit-box-shadow: inset 0 10px 50px white;
          box-shadow: inset 0 10px 50px white;
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
  height: 50px;
  margin: 0 auto;
  position: relative;
  top: 70px;
  width: 70px;
  z-index: -1;
}

.login-main .app-subtitle {
  letter-spacing: .5px;
  font-weight: 100;
  margin-top: .8rem;
}

.login-main .form-container {
  background: #FEFEFE;
  border-radius: 3px;
  -webkit-box-shadow: 8px 8px 5px rgba(116, 116, 116, 0.767);
          box-shadow: 8px 8px 5px rgba(116, 116, 116, 0.767);
  height: 20rem;
  overflow: hidden;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 10rem auto 0 auto;
  width: 80%;
  -webkit-transition: 2s;
  transition: 2s;
}

.login-main .form-container:hover h2 {
  opacity: 1;
}

.login-main .form-container p {
  margin-top: 3.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.login-main h2 {
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.login-main input {
  border: none;
}

.login-main .user-image {
  background: center/cover url("./Assets/user.png");
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: 4rem;
  margin: 0 auto;
  position: relative;
  top: 12rem;
  width: 4rem;
  z-index: 4;
}

.login-main .email-input {
  border: none;
  height: 5rem;
  outline: none;
}

.login-main input {
  padding: 15px;
  width: 15rem;
}

.login-main input:focus {
  outline: none;
}

.login-main .email-text, .login-main .password-text, .login-main .new-user-username, .login-main .new-user-email, .login-main .new-user-password {
  color: black;
}

.login-main .email-text::-webkit-input-placeholder, .login-main .password-text::-webkit-input-placeholder, .login-main .new-user-username::-webkit-input-placeholder, .login-main .new-user-email::-webkit-input-placeholder, .login-main .new-user-password::-webkit-input-placeholder {
  text-align: center;
}

.login-main .email-text:-ms-input-placeholder, .login-main .password-text:-ms-input-placeholder, .login-main .new-user-username:-ms-input-placeholder, .login-main .new-user-email:-ms-input-placeholder, .login-main .new-user-password:-ms-input-placeholder {
  text-align: center;
}

.login-main .email-text::-ms-input-placeholder, .login-main .password-text::-ms-input-placeholder, .login-main .new-user-username::-ms-input-placeholder, .login-main .new-user-email::-ms-input-placeholder, .login-main .new-user-password::-ms-input-placeholder {
  text-align: center;
}

.login-main .email-text::placeholder, .login-main .password-text::placeholder, .login-main .new-user-username::placeholder, .login-main .new-user-email::placeholder, .login-main .new-user-password::placeholder {
  text-align: center;
}

.login-main hr {
  border: 1px solid #747474;
  color: black;
  margin: 0 auto;
  width: 80%;
}

.login-main .submit-button {
  background-color: black;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: .7rem;
  margin: 0 auto;
  padding: 8px 20px;
  top: 50px;
  position: relative;
  top: 33px;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 3;
}

.login-main .submit-button:focus {
  outline: none;
}

.login-main .submit-button:hover {
  background-color: #424242;
}

.login-main .create-account {
  border-bottom: 2px solid transparent;
  color: black;
  cursor: pointer;
  display: inline;
  font-size: .8rem;
  font-weight: 600;
  position: relative;
  bottom: -30px;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
}

.login-main .create-account:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  border-bottom: 2px solid black;
}

.login-new-user {
  margin: 3rem auto 0 auto;
  width: 100%;
}

@-webkit-keyframes 🎥 {
  100% {
    background-position: 0 958px;
  }
}

@keyframes 🎥 {
  100% {
    background-position: 0 958px;
  }
}

.new-user-submit {
  background-color: black;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: .7rem;
  margin: 0 auto;
  padding: 8px 20px;
  position: relative;
  top: 5px;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 3;
}

.new-user-submit:focus {
  outline: none;
}

.new-user-submit:hover {
  background-color: #424242;
}

nav {
  text-align: right;
}

.active {
  display: none;
}

.movie-title {
  color: black;
  font-size: 2rem;
  text-align: right;
}

.movie-card {
  padding-right: 20px;
  margin-right: 100px;
  width: 50rem;
}

.movie-card:hover .date-box {
  opacity: 1;
  bottom: 30.5rem;
}

.date-box {
  background-color: rgba(0, 0, 0, 0.692);
  position: relative;
  color: white;
  width: 94%;
  padding: 10px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  bottom: 15rem;
  text-align: right;
}

.now-playing-title-text {
  color: black;
}

.movie-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  overflow: scroll;
  margin: 0 auto;
}

.text-box {
  font-size: 4rem;
  margin: 0;
  padding: -2rem;
  letter-spacing: -2px;
  line-height: 65px;
  margin-bottom: 2rem;
}

.movie-img {
  width: 19.5rem;
  padding: 10px;
  display: block;
  background-color: black;
  -webkit-box-shadow: 3px 3px 10px rgba(116, 116, 116, 0.767);
          box-shadow: 3px 3px 10px rgba(116, 116, 116, 0.767);
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.movie-img:hover {
  opacity: .8;
}

.faves, a {
  color: gray;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.faves:hover, a:hover {
  color: lightgray;
}

.faves .test, a .test {
  width: 100%;
}

.img-box {
  position: relative;
}
/*# sourceMappingURL=layouts-dir.css.map */